.places__link {
  font-size: 18px;
  line-height: 1.22em;
  align-self: flex-end;
  color: #fff;
  position: relative;
}

.places__link::before {
  content: "URL";
  color: #aaaaaa;
  position: absolute;
  top: -24px;
  left: 0;
  font-size: 12px;
  line-height: 1em;
  letter-spacing: 2px;
}

@media screen and (max-width: 768px) {
  .places__link {
    margin: 0 16px 32px;
  }
}

@media screen and (min-width: 1600px) {
  .places__link {
    font-size: 50px;
  }

  .places__link::before {
    font-size: 40px;
    top: -50px;
  }
}
