.footer__menu {
  display: flex;
  justify-content: space-between;
  margin: 0 48px 24px;
}

@media screen and (max-width: 1024px) {
  .footer__menu {
    margin: 0 24px 24px;
  }
}

@media screen and (max-width: 768px) {
  .footer__menu {
    display: block;
    margin: 0 16px 24px;
  }
}
