.footer__author {
  color: #ffffff;
  font-size: 14px;
  line-height: 1.143em;
  text-decoration: none;
}

@media screen and (max-width: 768px) {
  .footer__author {
    line-height: 1.1em;
  }
}

@media screen and (min-width: 1600px) {
  .footer__author {
    font-size: 35px;
  }
}
