.footer__author {
  color: #ffffff;
  font-size: 14px;
  line-height: 1.143em;
  text-decoration: none;
  transition: 0.3s;
}

@media screen and (max-width: 767px) {
  .footer__author {
    line-height: 1em;
  }
}
