.header__icons {
  display: flex;
  align-self: stretch;
  justify-content: space-between;
  margin: 28px 48px 0;
}

@media screen and (max-width: 1024px) {
  .header__icons {
    margin: 28px 24px 0;
  }
}

@media screen and (max-width: 768px) {
  .header__icons {
    margin: 16px 16px 0;
  }
}
