.header__title {
  font-size: 96px;
  font-weight: 900;
  line-height: 1.042em;
  width: 57.8%;
  margin: 56px auto 32px;
  text-align: center;
}

@media screen and (min-width: 1600px) {
  .header__title {
    font-size: 130px;
  }
}

@media screen and (max-width: 1280px) {
  .header__title {
    width: 72.4%;
    margin: 48px auto 32px;
  }
}

@media screen and (max-width: 1024px) {
  .header__title {
    width: 97.8%;
  }
}

@media screen and (max-width: 768px) {
  .header__title {
    width: 100%;
    font-size: 40px;
    margin: 48px auto 16px;
    line-height: 1.1em;
  }
}
