.places__item {
  margin-bottom: 80px;
  display: grid;
  gap: 48px 40px;
  grid-template-columns: 46.7% 49.18%;
  justify-content: space-between;
}
.places__item:last-child {
  margin-bottom: 0;
}

@media screen and (max-width: 1279px) {
  .places__item {
    gap: 48px 32px;
    grid-template-columns: 47.4% 49.13%;
  }
}

@media screen and (max-width: 1023px) {
  .places__item {
    margin-bottom: 73px;
    gap: 48px 28px;
    grid-template-columns: 47.2% 48.8%;
  }
}

@media screen and (max-width: 767px) {
  .places__item {
    margin-bottom: 50px;
    gap: 0;
    grid-template-columns: 100%;
  }
}
